.result-page {
    min-height: 200vh;
    background-color: #ebdde5;
    font-family: 'Helvetica Neue', sans-serif;
    color: #222;
    padding: 40px 20px;
    text-align: center;
  }
  
  .result-title {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
  }
  
  .result-image-container {
    margin-bottom: 30px;
  }
  
  .result-image-container img {
    width: 280px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .result-info {
    max-width: 600px;
    height: 100px;
    margin: 0 auto 40px;
    font-size: 1.2rem;
    color: #444;
    background: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow:
    0 0 100px rgba(255, 255, 255, 1),     
    0 0 60px rgba(255, 255, 255, 0.8),    
    0 5px 20px rgba(0, 0, 0, 0.05);       
    margin-bottom: 30px;
  }
  
  .result-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;

  }
  
  .suggestion-text {
    font-size: 1.1rem;
    color: #444;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  }
  
  .back-button {
    background-color:	#C08081;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    position: absolute;
  top: 197%;
  left: 32%;
  transform: translate(50%, 50%);
}


  .back-button:hover {
    background-color: #444;
  }