.select-page {
  min-height: 100vh;
  background-color: #ebdde5;
  font-family: 'Helvetica Neue', sans-serif;
  color: #222;
  text-align: center;
  padding: 40px 20px;
}

.select-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
}

.subtitle {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}

.upload-button {
  background-color:	#C08081;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.upload-button:hover {
  background-color: #444;
}

.image-preview {
  margin-top: 30px;
}

.image-preview img {
  max-width: 800px;
  max-height: 450px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.advice-section {
  margin-top: 40px;
}

.advice-section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.options {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.options button {
  background-color:	#C08081;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.options button:hover {
  background-color: #555;
}

.fade-in {
  animation: fade 0.5s ease-in;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
