.welcome-page {
  min-height: 100vh;
  background-color: #ebdde5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #222;
  text-align: center;
}

.welcome-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

.welcome-description {
  font-size: 1.2rem;
  max-width: 600px;
  color: #444;
  line-height: 1.6;
  background: #ffffff;
  padding: 25px;
  border-radius: 20px;
  box-shadow:
    0 0 100px rgba(255, 255, 255, 1),     
    0 0 60px rgba(255, 255, 255, 0.8),    
    0 5px 20px rgba(0, 0, 0, 0.05);       
  margin-bottom: 30px;
}

.start-button {
  background-color:	#C08081;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

.start-button:hover {
  background-color: #444;
  
}